.remedy-section{
    white-space: pre-wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #84a64d80;
    padding:20px;
}

.remedy-section:hover{
    cursor: pointer;
}

.remedy-section>p{
    margin-left:20px;
    margin-right: 20px;
}

.liked{
    background-color: chartreuse;
    border: double chartreuse;
    border-radius:20px;
    cursor: pointer;
    margin-right: 40px;

}
.disliked{
    background-color: pink;
    border: double pink;
    border-radius:20px;
    cursor: pointer;
}

.like-button{
    margin-right: 40px;
}

.like-button:hover{
    cursor: pointer;
}

.like-bar{
    height: 90px;

}

.likes-count{
    font-size: 16pt;
    margin-bottom: 10px;
    margin-right:15px;
}

.feedback-error{
    margin-top:20px;
    color: red;
}

.remedy-section.full {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50%;
    overflow-y: scroll;
    overflow-x: overlay;
    width: 90%;
    background-color: #687c5c;
    padding: 10px;
}

.hide{
    font-size: 1em;
    margin-top:0;
    margin-left: 95%;
    padding:10px;
    color: white;
}

.hide:hover{
    cursor: pointer;
}

@media only screen and (min-width: 600px) {

    .remedy-section.full {
        position: fixed;
        right: 0px;
        width: 50%;
        top: 0;
        margin-right: 0px;
        height: 70%;
        padding-left: 5%;
    }

    .remedy-section.abbrev {
        margin-left: 5%;
    }

    .remedy-list {
        width: 45%;
        margin-bottom:5%;
    }

}