.home-search{
    text-align: center;
    display: flex column;
    justify-content: space-between;
    background-image: url("https://images.pexels.com/photos/932577/pexels-photo-932577.jpeg?cs=srgb&dl=aromatherapy-aromatic-bottle-932577.jpg&fm=jpg");
    background-size: cover;
    height: 100vh;
    padding-bottom: 50px;
}

.home-browse{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: 80%;
    color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.767);
    margin-top: 20px;
    margin-bottom: 20px;

}

.end-af{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height:5px;
}

.autofill.end-af:hover{
    cursor:default;
    background-color: rgb(240, 234, 248);
}


.home-browse:hover{
    background-color: gray;
    color: white;
}

.first-entry{
    font-weight: bold;

}

.autofill{
    display: block;
    width: 95%;
    color: black;
    text-decoration: none;
    margin: auto;
    padding: 15px;
    background-color: rgb(240, 234, 248);
}

.autofill:hover{
    background-color: papayawhip;
    cursor:pointer;
}

.toggle-search {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    height:40px;
    cursor: pointer;
}

.toggle-buttons {
    text-align: left;
    margin-left: 10%;
    height:35px;
}

.active{
    background:rgb(240, 234, 248);
}
#search-button{
    
    background-image: url("https://img.icons8.com/ios-glyphs/60/000000/search.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    height: 45px;
    width: 45px;
    margin-left: -55px;
    border-radius: 5px;
    background-color: rgb(240, 234, 248);
    border: none;
    margin-top:12px;
    margin-bottom: 10px;

}

#search-button:hover{
    cursor: pointer;
}

.app-explain{
    text-align: center;;
    width: 60%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14pt;
}

.home-hero{
    padding-top: 20px;
    text-align: left;
    margin-left:20px;
    font-size: 30pt;
    color: black;
    margin-right:100px;
    margin-top: 0;
    line-height: 1.1;
    margin-bottom: 50px;
}

.autofill-container{
    width:80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10px;

}

#home-search-label{
    font-size:20pt;
    font-weight: bolder;
    padding: 10px;
}

#home-search-form{
    margin-top: -12px;
    width: 80%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-bottom:0px;
}

#home-search-term{
    border-radius: 5px;
    font-size: 12pt;
    width:100%;
    padding: 15px;
    border: none;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom: -5px;
    background-color:rgb(240, 234, 248);

}

.subheader-home{
    color: white;
}

.explain{
    background-color: rgba(183, 197, 224, 0.906);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 600px) {
    #home-search-form{
        margin-top: 0px;
    }
    .toggle-buttons {
        margin-left:20%;
    }

    .explain {
        width: 30%;
        font-size: 12pt;
        margin-right: 10px;
        margin-left: 10px;

    }

    section.app-explain {
        justify-content: space-around;
        display: flex;
        width:80%;
    }

#home-search-term{
    width: 70%;
    
}

#search-button{
    right: 20%;
    position: absolute;
    top: 440px;
    margin-top: 0px;

}

.home-hero{
    margin-bottom: 250px;
}

.home-browse{
    width: 60%;
}

.autofill{
    width:70%;
}

}



@media only screen and (min-width: 680px) {

    #search-button{

        top: 510px;
    
    }
}

@media only screen and (min-width: 808px) {
    .toggle-buttons {
        margin-left:28.5%;
    }

    #search-button{
        top: 510px;
        right:29%
    }

    .autofill{
        width:50%;
    }
.home-browse{
    width: 42%;
}

#home-search-term{
    width: 50%;
    
}


}

@media only screen and (min-width: 825px) {

    #search-button{
        top: 467px;
    }
}

@media only screen and (min-width: 1200px) {
    .toggle-buttons {
        margin-left:29%;
    }
    .explain {
        width: 30%;
        font-size: 14pt;
        margin-right: 30px;
        margin-left: 30px;
    }
}

@media only screen and (min-width: 1450px) {

    #search-button{
        right:29%
    }
    .toggle-buttons {
        margin-left:29.5%;
    }
}